name: "CI"
on:
  pull_request:
  push:
jobs:
  nix-build:
    name: ${{ matrix.pretty }} with nix (${{ matrix.derivation }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        derivation: [agda-core-hs, agda-core-lib]
        include:
          - pretty: "Build Haskell library"
            derivation: agda-core-hs
          - pretty: "Typecheck with Agda"
            derivation: agda-core-lib
    steps:
    - uses: actions/checkout@v4
    - uses: nixbuild/nix-quick-install-action@v34
      with:
        nix_conf: |
          keep-env-derivations = true
          keep-outputs = true
    - uses: DeterminateSystems/magic-nix-cache-action@v6
    - name: Restore and save Nix store
      uses: nix-community/cache-nix-action@v6
      with:
        # restore and save a cache using this key
        primary-key: nix-${{ matrix.derivation }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
    - run: nix build .#${{ matrix.derivation }} --print-build-logs
